.background{
    background-image: url("Assets/Assets/fundo.png");
    background-repeat: no-repeat;
    background-size: 100%;
}

.maquina{
    margin-left: 7%;
    width: 30%;
    height: 30%;  
}

.botoesPai{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: -24%;
    margin-left: 28.5%;
}

.botoesFilho{
    height: 25px;
    width: 75px;
    background-color: grey;
}

.notasPai{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: -19%;
    margin-left: 68%;
}

.notasFilho{
    height: 65%;
    width: 65%;
}

.compraPai{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 23%;
    margin-left: 13.5%;
}

.compraFilho{
    height: 14%;
    width: 14%;
    display: none;
}

.trocoPai{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: -6%;
    margin-left: 31.5%;
}

.trocoFilho{
    height: 2%;
    width: 2%;
    
}

.saldo{
    margin-top: -20.25%;
    margin-left: 30%;
}