body{
    background-image: url(Assets/porta-aberta.png);
    background-repeat: no-repeat;
    background-size:955px;
}

.parede {
    position: absolute;
    width: 345px;
    height: 633.3px;
    z-index: 2;
    margin-top: -8.5px;
}

.porta{
    z-index: 1;
}

.portaAbrindo{
    position: relative;
    height: 410px;
    animation-name: portaAbrindo;
    animation-fill-mode: forwards;
    animation-duration: 2.5s;
}

.portaFechando{
    position: relative;
    height: 410px;
    animation-name: portaFechando;
    animation-fill-mode: forwards;
    animation-duration: 2.5s;
}

@keyframes portaAbrindo {
    0% {left: 336px; top: 130px;}
    100% {left: 0px; top: 130px;}
}

@keyframes portaFechando {
    0% {left: 0px; top: 130px;}
    100% {left: 336px; top: 130px;}
}

.painel{
    vertical-align: 2184%;
    margin-left: 7.1%;
    margin-top: 0%;
    color: white;
    background-color: black;
    width: 55px;
    text-align: center;
    display: inline-block;
    z-index: 3;
}

.painel2{
    vertical-align: 1847.3%;
    margin-left: 9.12%;
    margin-top: 0%;
    color: white;
    background-color: green;
    width: 55px;
    text-align: center;
    z-index: 3;
    display: none;
}